.counter-container{
    height: 50%;
    width: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    gap: 15px;
    flex-direction: column;

}
#but{
    height: 20%;
    width: 20%;
    background-color: antiquewhite;
}
